  <section class="container py-8 mx-auto menu" id={@id}>
    <h1 class="mb-8 text-xl font-bold">All Foods</h1>
    <div class="grid grid-cols-1 row-gap-16 col-gap-12 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

      <%= for i <- 0..10 do %>
       <.live_component module={Item} id={"item-" <> Integer.to_string(i)} />
       <%# <.live_component module={Item} id={"item-#{Integer.to_string(i)}" } /> %>
      <% end %>

    </div>
  </section>
